*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

.nav {
  display: flex;
  justify-content: space-between; }

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: orangered; }
