*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

li {
  list-style: none; }

a,
a:active,
a:hover,
a:focus {
  text-decoration: none; }

.container {
  padding: 0 9rem;
  margin: 0 auto; }

.header--full {
  background-image: linear-gradient(to right, #6c63ff, #4e87cc);
  width: 100%;
  min-height: 100vh;
  color: #fff; }

.logo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer; }

.navigation {
  display: flex;
  justify-content: space-between; }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0; }
  .nav__list {
    display: flex;
    margin-right: 3rem; }
  .nav__item {
    display: flex;
    padding: 0 3rem;
    font-size: 1.75rem;
    color: #fff; }

.btn {
  border: none;
  border-radius: 0;
  background-color: #3f3d56;
  padding: 1rem 2rem;
  color: #CACACA;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    transform: scale(1.05); }

.header {
  display: flex;
  justify-content: space-between; }
  .header__text {
    width: 50%;
    margin: 12rem 0; }
    .header__text--secondary {
      font-size: 1.6rem;
      font-weight: 400;
      color: #3f3d56; }
    .header__text--primary {
      font-size: 4rem;
      margin: 3.5rem 0; }
    .header__text--tertiary {
      font-size: 1.3rem;
      margin-bottom: 3.5rem; }

.header--img {
  width: 50rem;
  height: 50rem;
  margin-top: 10rem; }
