h1 {
  font-weight: 200;
}
p {
  color: orangered;
  font-weight: 300;
  
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.container {
}
