*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 1100px) {
    font-size: 45%;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
li {
  list-style: none;
}
a,
a:active,
a:hover,
a:focus {
  text-decoration: none;
}
.container {
  padding: 0 9rem;
  margin: 0 auto;
}

input {
  border: none;
  width: 100%;
  padding: 1.8rem;
  transition: all 0.2s;
  box-shadow: 0 0 4rem rgba($color-tertiary, 0.5);

  &:focus {
    outline: none;
    border-bottom: 3px solid rgb(17, 46, 54);
  }
}
.copyright {
  margin: 0 auto;
  color: #fff;
  padding: 2rem;
  background-color: $color-secondary;

  &-text {
    text-align: center;
    font-size: 1.4rem;
  }
}
.heart-icon {
  color: rgb(211, 72, 72);
}
.copy-link {
  color: #fff;
  border-bottom: 1px solid #fff;
}
