.special--sec {
  background-color: #fff;
  min-height: 60vh;
  margin: 5rem 0;
}
.sec--title {
  text-align: center;
}
.card--sec {
  display: flex;
  margin: 5rem 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  height: 43rem;
  width: 37rem;
  box-shadow: 0 0 4rem rgba($color-tertiary, 0.5);
  padding: 5rem;
  margin: 0 2rem;
  cursor: pointer;
  transition: all 0.2s;

  &__img {
    height: 16rem;
    width: 16rem;
  }
  & > * {
    margin-bottom: 2rem;
  }

  &:hover {
    transform: translateY(-3px);
    border-bottom: 3px solid $color-primary-dark;
  }
}
.icon {
  color: $color-primary-dark;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    transform: scale(1.15);
  }
}
