.feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 10rem 0;

  @media only screen and (max-width: 700px) {
    display: block;
    text-align: center;
  }

  &__1,
  &__2,
  &__3 {
    align-self: center;

    @media only screen and (max-width: 700px) {
      margin: 5rem 0;
      text-align: center;
    }
  }

  &__2 {
    img {
      width: auto;
      height: 30rem;
      transition: all 0.5s;
      cursor: pointer;

      @media only screen and (max-width: 700px) {
        // display: block;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  &--title {
    text-align: center;
  }

  &__card--img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    padding-right: 3rem;
  }

  &__1--card,
  &__3--card {
    display: flex;
    align-items: center;
    text-align: left;

    @media only screen and (max-width: 700px){
      display: block;
      margin: 0 auto;
    }

    p {
      text-align: left !important;
    }
  }
}
