.footer-section {
  background-image: linear-gradient(
    to right,
    $color-primary-dark,
    $color-primary-light
  );
  padding: 6rem 0;
}
.footer {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  color: #fff;
}
.company-logo {
  color: #fff;
}
.company--details {
  p {
    font-size: 1.3rem;
  }
}
.social-link {
  font-size: 2.3rem;
  margin-top: 2rem;

  a {
    margin: 0 1.2rem;
  }
  
}
.icon-social{
    color: #fff;

    &:hover{
        color: $color-tertiary;
    }
}
