.header--full {
  background-image: linear-gradient(
    to right,
    $color-primary-dark,
    $color-primary-light
  );
  width: 100%;
  min-height: 100vh;
  color: #fff;
}
.logo {
  font-size: 2rem;
  // margin-left: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;

  @media only screen and (max-width: 700px){
    padding: 1rem 0;
    margin: 0 0.5rem;
  }

  &__list {
    display: flex;
    margin-right: 3rem;
  }
  &__item {
    display: flex;
    padding: 0 3rem;
    font-size: 1.75rem;
    color: #fff;
  }
}
.btn {
  border: none;
  border-radius: 0;
  background-color: $color-secondary;
  padding: 1rem 2rem;
  color: $color-tertiary;
  font-family: $font-display;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
    background-color: transparent;
    border: 1px solid #fff;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  &__text {
    width: 50%;
    margin: 12rem 0;

    @media only screen and (max-width: 700px) {
      width: 45%;
      margin: 4rem 0;
    }
    &--secondary {
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
    }
    &--primary {
      font-size: 4rem;
      margin: 3.5rem 0;

      @media only screen and (max-width: 700px) {
        font-size: 2rem;
      }
    }
    &--tertiary {
      margin-bottom: 3.5rem;
      text-align: left !important;
    }
  }
}
.header--img {
  width: 50rem;
  height: 50rem;
  margin-top: 10rem;

  @media only screen and (max-width: 700px) {
    width: 30rem;
    margin-top: 1rem;
  }
}
