.u--para {
  font-size: 1.3rem;
  text-align: center;
}
.u--h1 {
  font-size: 3.5rem;
  color: $color-primary-dark;
}
.u--h2 {
  font-size: 2rem;
  color: $color-primary-dark;
}
.u--h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
}
.u--border {
  border-bottom: 6px solid $color-tertiary;
  width: 10%;
  display: flex; // without flex it won't work
  margin: 1rem auto;
}

.card-title {
  color: $color-primary-dark;
}
